<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    <div >
        <div class="bg-gray-300  py-20 p-10 h-80">
            <h1 class="text-3xl">Hello World</h1>
            <p  class="py-4 text-1xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, laborum cumque! Cumque, similique incidunt fuga laborum dolorum sunt laudantium voluptates!</p>
              <button class="bg-blue-500 p-4 text-2xl">LearnMore>></button>
        </div>
    <main class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center align-middle p-10 h-90">
        <section class="w-40">
            <h1 class="font-medium text-3xl pb-2">Heading</h1>
             <p class="pb-3 text-1xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure vitae minima totam, earum nostrum officiis voluptate odit ad autem sit nam architecto tenetur eveniet nesciunt molestiae. Dolor nesciunt laudantium repellendus?</p>
            <button class="bg-gray-600 text-amber-50 text-2xl p-1 mt-2 mb-2">View Details</button>
        </section>
        <section>
            <h1 class="font-medium  text-3xl pb-2">Heading</h1>
             <p class="pb-3 text-1xl" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure vitae minima totam, earum nostrum officiis voluptate odit ad autem sit nam architecto tenetur eveniet nesciunt molestiae. Dolor nesciunt laudantium repellendus?</p>
            <button class="bg-gray-600 text-amber-50 text-2xl p-1 mt-2 mb-2" >View Details</button>
        </section>
        <section class="w-">
            <h1 class="font-medium text-2xl  pb-2">Heading</h1>
             <p class="pb-3 text-1xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure vitae minima totam, earum nostrum officiis voluptate odit ad autem sit nam architecto tenetur eveniet nesciunt molestiae. Dolor nesciunt laudantium repellendus?</p>
            <button class="bg-gray-600 text-amber-50  text-2xl p-1 mt-2 mb-2" >View Details</button>
        </section>
    </main>
    <hr class=" mx-8 b-t p-2 text-gray-400">
    <footer class="px-10">
        <p class="text-1xl">@copyright 2017-2018</p>
    </footer>
    </div>
    
</body>
</html>